extends layout

block content
  h2 Login With Your SamExhibit credentials
  form(action="login", method="post")
    label(for="username") Username
    input#username(name="email", type="text")
    label(for="password") Password
    input#password(name="pass", type="password")
    br/
    input(type="submit", class="btn btn-primary")