extends layout

block content
  h2 Import From Wordpress

  form(method="post", action="/upload_wordpress_xml", enctype="multipart/form-data")
    input(type="file", name="xml")
    button(type="submit", class="btn btn-primary", value="submit")
      i.icon-upload.icon-white
      span Upload