body {
  width: 100%;
  max-width: 940px;
  margin: 0px auto;
  padding: 30px;
}

.post_selector {
  list-style: none;
  margin: 20px 0 0 0;
}

.post_selector li {
  width: 50%;
}

.post_selector li.odd {
  float: left;
}

.post_selector li.even {
  float: left;
}

.cl {
  clear: both;
}